<h2></h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @item_categories.each do |item_category| %>
      <tr>
        <td><%= link_to item_category.name, item_category %></td>
        <td><%= link_to 'Edit', edit_item_category_path(item_category) %></td>
        <td><%= link_to 'Delete', item_category, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Add Item category', new_item_category_path %>
