<% if session[:is_admin] %>
    <h2>Admin</h2>
    <%= link_to 'Schedule new auction', new_item_auction_path %>
<% end %>

<h2>My auctions</h2>

<%= render :partial => 'auction_list', :object => @my_item_auctions %>

<br/>

<h2>All auctions</h2>

<%= render :partial => 'auction_list', :object => @item_auctions %>
