<% if session[:is_admin] %>
    <h2>Admin</h2>
    <%= link_to 'Add new Item', new_item_path %>
<% end %>

<h2>Items</h2>

<%= render :partial => 'items_list', :locals => {:items_list => @items} %>

<br/>

